name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest
    env:
      ProductClientId: ${{ secrets.PRODUCTCLIENTID }}
      ProductClientSecret: ${{ secrets.PRODUCTCLIENTSECRET }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '21'

    - name: Install dependencies
      working-directory: ${{ github.workspace }}
      run: |
        npm install

    - name: Run tests
      working-directory: ${{ github.workspace }}
      run: |
        npx cross-env JUNIT_REPORT_PATH=integration_tests_result.xml mocha -r ts-node/register Example/**/*.ts --timeout 250000 --reporter mocha-jenkins-reporter